BOT_TOKEN=your bot token
CHAT_ID=your chat id
APP_PORT=:3000
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=
SERVER_URL=
STORAGE_URL=
PROXY_URL=
SHORTEN_API_URL=
SHORTEN_HOST=
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=""
REDIS_PASSWORD=
REDIS_DATABASE=0
LIMITER_MAX=
LIMITER_EXPIRATION_SECOND=